.bg-Leopard {
    background-image: url('https://wearlumine.com/qweqwe/imgs/leopard.png')
}





.bg-White {
    background-color: white;
}

.bg-Offwhite {
    background-color: #f8f8f8;
}

.bg-Pink {
    background-color: pink;
}



.bg-Fullblack {
    background-color: black;
}



.bg-Brown {
    background-color: #8B4513;
}
.bg-brown {
    background-color: #8B4513;
}
.bg-Bordeux {
    background-color: #5C0A1F;
}

.bg-Yellow {
    background-color: rgb(255, 217, 0);
}



.bg-Baby-blue {
    background-color: #89CFF0;
}





.bg-Orange {
    background-color: orange;
}

.bg-Leopard-and-black {
    background: linear-gradient(to right, #ee5f00, #633e33, #000000);
}



.bg-Blue {
    background-color: rgb(0, 183, 255);
}



.bg-Move {
    background-color: #914f80;
}



.bg-white {
    background-color: white;
}

.bg-green {
    background-color: rgba(134, 189, 134, 0.815);
}



.bg-gold-metal {
background: linear-gradient(45deg,
            #d4af37,
            /* gold */
            #f9d71c,
            /* bright yellow */
            #b8860b,
            /* dark goldenrod */
            #ffd700
            /* gold */
        )
    }





.bg-Pink {
    background-color: pink;
}

.bg-White {
    background-color: white;
}

.bg-Black {
    background-color: black;
}








.bg-Offwhite-Brownlens {
background: linear-gradient(90deg,
            #f8f8f8 0%,
            /* Off-white */
            #A0522D 100%
            /* Medium brown */
        );
    }

.bg-Black-lens-silver-metal {
background: linear-gradient(90deg,
            #000000,
            /* black */
            #c0c0c0
            /* silver */
        );}

.bg-Black-lens-gold-metal {
background: linear-gradient(90deg, #000000, #e7c671);
}




.bg-soho-brown{
    background: #5e2f1d;
}
.bg-soho-offwhite{
    background: #faf0e6
}
.bg-monaco-pink{
    background: #e4cbc1;
}
.bg-monaco-brown{
    background: #e4cbc1;
}

.bg-kyoto-fullblack{
    background: #000;
}
.bg-kyoto-black {
        width: 32px;
            height: 32px;
    border-radius: 50%;
    background: #f7e7ce;
    /* outer ring color */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-kyoto-black::before {
    content: '';
    width: 24px;
    height: 24px;
    background: #272f38;
    /* inner disc color */
    border-radius: 50%;
}

.bg-kyoto-brown{
    background: #472b1b;
}

.bg-cote-brown{
    background: #3e1a19;
}

.bg-cote-bord{
    background: #3e261b;
}

.bg-veince-blu{
   background: #c9d5e8;
}

.bg-borange{
    background: #d89551;
}

.bg-bblue{
    background: #6fadd9;
}


.bg-rmove{
    background: #785f62;
}

.bg-sgreen{
    background: #d89551;
}


.bg-porto-black {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #f7e7ce;
    /* outer ring color */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-porto-black::before {
    content: '';
    width: 24px;
    height: 24px;
    background: #000;
    /* inner disc color */
    border-radius: 50%;
}
.bg-porto-brown{
    background: #472b1b;
}
.bg-mpink{
    background: #f4bde3;
}

.bg-cyellow{
    background: #bc7101;
}

.bg-coffwhite{
    background: #faf0e6;
}