.bg-Leopard {
    background-color: Leopard;
}

.bg-Black {
    background-color: black;
}

.bg-Brown {
    background-color: brown;
}

.bg-White {
    background-color: white;
}

.bg-Offwhite {
    background-color: Offwhite;
}

.bg-Pink {
    background-color: pink;
}

.bg-Brown {
    background-color: brown;
}

.bg-Fullblack {
    background-color: Fullblack;
}

.bg-Black {
    background-color: black;
}

.bg-Brown {
    background-color: brown;
}

.bg-Brown {
    background-color: brown;
}

.bg-Bordeux {
    background-color: Bordeux;
}

.bg-Yellow {
    background-color: yellow;
}

.bg-Black {
    background-color: black;
}

.bg-Baby-blue {
    background-color: Baby-blue;
}

.bg-Brown {
    background-color: brown;
}

.bg-Black {
    background-color: black;
}

.bg-Orange {
    background-color: orange;
}

.bg-Leopard-and-black {
    background-color: Leopard-and-black;
}

.bg-black {
    background-color: black;
}

.bg-Blue {
    background-color: blue;
}

.bg-brown {
    background-color: brown;
}

.bg-Move {
    background-color: Move;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.bg-green {
    background-color: green;
}

.bg-Black {
    background-color: black;
}

.bg-gold-metal {
    background-color: gold-metal;
}

.bg-Brown {
    background-color: brown;
}

.bg-Black {
    background-color: black;
}

.bg-Pink {
    background-color: pink;
}

.bg-White {
    background-color: white;
}

.bg-Black {
    background-color: black;
}

.bg-Leopard {
    background-color: Leopard;
}

.bg-Leopard {
    background-color: Leopard;
}

.bg-Black {
    background-color: black;
}

.bg-Yellow {
    background-color: yellow;
}

.bg-Offwhite {
    background-color: Offwhite;
}

.bg-Brownlens {
    background-color: Brownlens;
}

.bg-Black-lens {
    background-color: Black-lens;
}

.bg-silver-metal {
    background-color: silver-metal;
}

.bg-Black-lens {
    background-color: Black-lens;
}

.bg-gold-metal {
    background-color: gold-metal;
}